/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/dist
/env
.env
.env.backup
.env.testing
.idea
.phpunit.result.cache
.phpstorm.meta.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
public/css/
public/js/
docs/coverage
api_kvk_nl_ca.crt
.idea
public/version.json
